ai2thor==1.0.1
torch==1.7.0
torchvision==0.8.0
numpy==1.19.2
pillow==8.3.1
certifi==2021.5.30
click==7.1.2
decorator==5.0.9
flask==1.1.2
h5py==2.10.0
idna==3.3
itsdangerous==1.1.0
jinja2==3.0.1
markupsafe==2.0.1
networkx==2.5
progressbar2==3.53.1
protobuf==3.13.0
python-utils==2.4.0
pyyaml==5.3.1
requests==2.27.1
scipy==1.5.2
setproctitle==1.2.2
six==1.15.0
tabulate==0.8.9
tensorboardx==2.5
tqdm==4.19.9
urllib3==1.26.9
opencv-python==4.5.5.64